body{
    background-color: silver;
}

.logo{
	height: 80px;
}

.titulo_1{
    text-align: center;
    padding-bottom: 15px;
}

.formulario{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.formulario__grupo{
    text-align: center;
}

/* ------- Labels ------- */

.formulario__label{
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 550;
    text-align: center;
    margin-right: 180px;
    cursor: pointer;
}


.formulario__label::before {
    content: "*";
    color: red;
}


.formulario__label-nombreUsario{
    margin-right: 200px;
}

.formulario__label-correo{
    margin-right: 205px;
}

.formulario__label-password{
    margin-right: 250px;
}

/* ------- Inputs ------- */

.formulario__grupo-input{
    position: relative;
}

.formulario__input{
    width: 30%;
    border: 3px solid transparent;
    height: 40px;
    line-height: 40px;
    transition: .4s ease all;
}

.formulario__input:focus{
    border: 3px solid #0075ff;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

.formulario__input-error{
    font-size: 12px;
    display: none;
}

.formulario__input-error-activo{
    display: block;
}

/* ------- Terminos ------- */

#grupo__terminos{
    margin-left: 90px;
    margin-top: 10px;
}

/* ------- Checkbox ------- */

.formulario__checkbox{
    margin-right: 10px;
}

/* ------- Mensaje ------- */

.formulario__mensaje{
    text-align: center;
    margin-left: 330px;
    width: 40%;
    height: 40px;
    line-height: 40px;
    background-color: #f66060;
    border-radius: 3px;
    display: none;
}

.formulario__mensaje-activo{
    display: block;
}

.formulario__mensaje p {
    margin: 0;
    font-weight: 600;
}

/* ------- Boton ------- */

.formulario__grupo-btn-enviar{
    margin-bottom: 30px;
}

.formulario__grupo-btn-enviar button {
    font-weight: bold;
    background-color: #0075ff;
}

.formulario__grupo-btn-enviar button:hover{
    margin-bottom: 30px;
    color: white;
    width: 30%;
    height: 40px;
}

/* ---------- Validación ---------- */

.formulario__validacion-estado{
    position: absolute;
    right: 395px;
    bottom: 10px;
    opacity: 0;
}

.formulario__grupo-correcto .formulario__validacion-estado{
    color: #1ed12d;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label{
    color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado{
    color: #bb2929;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input{
    border: 3px solid #bb2929;
}

/* ----- Mensaje Exito ----- */
.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ------- Mediaqueries ------- */
@media screen and (max-width: 700px){
    .formulario__btn {
        width: 90%;
    }
    /*.formulario_grupo-incorrecto{
        width:
    }*/
}

.registroError{
    /*font-family: 'Roboto', sans-serif;*/
    font-size: 18px;
    text-align: center;
    margin-left: 730px;
    width: 35%;
    height: 40px;
    line-height: 40px;
    background-color: #f66060;
    color: white;
    border-radius: 3px;
}