

body{
	background: linear-gradient(to right, #7493FF, #0E1A42, #1448A9);
}

.logo{
	height: 80px;
}

#titulo_1{
	/* color: #1448A9; */
    color: #ffff;
    margin-right: 20px;
}

.p2{
	/* color: #1448A9; */
    color: #ffff;
}

.lista{
	/* color: #1448A9  */
    color: #ffff;
}
.img_1{
	height: 250px;
	margin-left:-110px;
	margin-top: -70px;
}

.btn-ingresar{
	background: #1560af;
	color: white;
	width: 25%;
	padding: 5px;
	font-size: 18px;
}

.btn-ingresar:hover{
	width: 30%;
	height: 45px;
}

.btn{
	background-color: #71D56B;
}

.btn:hover{
	width: 30%;
	height: 45px;
}

a:link, a:visited, a:active {
    text-decoration:none;
    color: white;
}


.btn_registrate{
	color: white;
}

/* ----- Iconos ----- */

a .fab{
	color: #fff;
	font-size: 30px;
	margin: 0 10px;
}

a .fab:hover{
	width: 35px;
	height: 35px;
}

.wht, .fcbk, .fa-instagram{
	color:#ffff !important;
    height: 25px;
}

/* ----- Mensaje de Error de Login -----*/
.loginError{
	/*font-family: 'Roboto', sans-serif;*/
	font-size: 18px;
	text-align: center;
    margin-left: 730px;
    width: 35%;
    height: 40px;
    line-height: 40px;
    background-color: #f66060;
    color: white;
    border-radius: 3px;
}